<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pl">
    <head>
        <title>Sklep</title>
        <meta charset="UTF-8">
        <meta name="author" content="Filip">
        <meta name="description" content="Sklep internetowy">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
<body>

<div th:insert="~{fragments :: head}"></div>
<div class="main">
    <aside></aside>
    <main>
        <div class="products-menu">
            <p>Opcje użytkownika</p>
            <a href="/information">Informacje</a>
            <a href="/products">Powrót do sklepu</a>
            <a href="/edit_user">Zmień dane</a>
            <a href="/edit_password">Zmień hasło</a>
            <a href="/orders">Historia zakupów</a>
            <a href="/enable">Usuń konto</a>
            <div sec:authorize="isAuthenticated()">
                <a href="/logout">Wyloguj</a>
            </div>
        </div>
        <div class="products-content">
            <form th:action="@{/edit_password}" th:object="${user_password}" method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Hasło</label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="confirmPassword" class="control-label">Powtórz
                        hasło</label> <input id="confirmPassword" class="form-control"
                                             type="password" th:field="*{confirmPassword}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="button-blue">Zmień hasło</button>
                </div>
            </form>
        </div>
    </main>
    <aside></aside>
</div>
<div th:insert="~{fragments :: footer}"></div>

<!--<div class="content">-->
    <!--<div style="width: 500px; height: 100%; margin: auto; margin-top: 10px; margin-bottom: 10%; text-align:center">-->
        <!--<div style="width: 500px; margin: auto; margin-top: 10px; text-align:center">-->
            <!--<h1>Zmiana danych</h1>-->
        <!--</div>-->
        <!--<form th:action="@{/edit_password}" th:object="${user_password}" method="post">-->

            <!--<p class="error-message" th:if="${#fields.hasGlobalErrors()}"-->
               <!--th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation-->
                <!--error</p>-->

            <!--<div class="form-group"-->
                 <!--th:classappend="${#fields.hasErrors('password')}? 'has-error':''">-->
                <!--<label for="password" class="control-label">Hasło</label> <input-->
                    <!--id="password" class="form-control" type="password"-->
                    <!--th:field="*{password}" />-->
                <!--<p class="error-message"-->
                   <!--th:each="error : ${#fields.errors('password')}"-->
                   <!--th:text="${error}">Validation error</p>-->
            <!--</div>-->

            <!--<div class="form-group"-->
                 <!--th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">-->
                <!--<label for="confirmPassword" class="control-label">Powtórz-->
                    <!--hasło</label> <input id="confirmPassword" class="form-control"-->
                                         <!--type="password" th:field="*{confirmPassword}" />-->
                <!--<p class="error-message"-->
                   <!--th:each="error : ${#fields.errors('confirmPassword')}"-->
                   <!--th:text="${error}">Validation error</p>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<button type="submit" class="btn btn-dark">Zmień hasło</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<!--<div th:insert="~{fragments :: footer}"></div>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>