<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pl">
    <head>
        <title>Sklep</title>
        <meta charset="UTF-8">
        <meta name="author" content="Filip">
        <meta name="description" content="Sklep internetowy">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
<body>

<div th:insert="~{fragments :: head}"></div>

<div class="main">
    <aside></aside>
    <main>
        <div class="products-menu">
            <div th:insert="~{fragments :: admin_menu}"></div>
        </div>
        <div class="products-content">
            <form th:action="@{/administrator/add_product}" method="post" th:object="${product}" class="content-list-new-product">

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('productName')}? 'has-error':''">
                    <label for="productName" class="control-label">Nazwa produktu</label> <input
                        id="productName" class="form-control" th:field="*{productName}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('productName')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('descript')}? 'has-error':''">
                    <label for="descript" class="control-label">Opis</label>
                    <textarea rows="10" cols="50" id="descript" class="form-control" th:field="*{descript}"></textarea>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('descript')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('quantity')}? 'has-error':''">
                    <label for="quantity" class="control-label">Ilosc</label> <input
                        id="quantity" class="form-control" th:field="*{quantity}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('quantity')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('cost')}? 'has-error':''">
                    <label for="cost" class="control-label">Koszt</label> <input
                        id="cost" class="form-control" th:field="*{cost}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('cost')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('producer.producerName')}? 'has-error':''">
                    <label for="producer" class="control-label">Nazwa producenta</label> <input
                        id="producer" class="form-control" th:field="*{producer.producerName}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('producer.producerName')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('producer.address')}? 'has-error':''">
                    <label for="address" class="control-label">Adres producenta</label> <input
                        id="address" class="form-control" th:field="*{producer.address}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('producer.address')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('category')}? 'has-error':''">
                    <label for="category" class="control-label">Kategoria</label>

                    <select th:field="*{category}" class="form-control" id="category">
                        <option th:each="cat : ${all_category}" th:text="${cat.category}"  th:value="${cat.id}"></option>
                    </select>

                    <p class="error-message"
                       th:each="error: ${#fields.errors('producer.address')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <input id="addProduct" type="submit" class="button-blue" value="Dodaj">
                </div>

            </form>
        </div>
    </main>

    <aside></aside>
</div>

<div th:insert="~{fragments :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>